.famitheme {
    --color-1: #000000;
    --color-2: #e03c28;
    --color-3: #ffffff;
    --color-4: #d7d7d7;
    --color-5: #a8a8a8;
    --color-6: #7b7b7b;
    --color-7: #343434;
    --color-8: #151515;
    --color-9: #0d2030;
    --color-10: #415d66;
    --color-11: #71a6a1;
    --color-12: #bdffca;
    --color-13: #25e2cd;
    --color-14: #0a98ac;
    --color-15: #005280;
    --color-16: #00604b;
    --color-17: #20b562;
    --color-18: #58d332;
    --color-19: #139d08;
    --color-20: #004e00;
    --color-21: #172808;
    --color-22: #376d03;
    --color-23: #6ab417;
    --color-24: #8cd612;
    --color-25: #beeb71;
    --color-26: #eeffa9;
    --color-27: #b6c121;
    --color-28: #939717;
    --color-29: #cc8f15;
    --color-30: #ffbb31;
    --color-31: #ffe737;
    --color-32: #f68f37;
    --color-33: #ad4e1a;
    --color-34: #231712;
    --color-35: #5c3c0d;
    --color-36: #ae6c37;
    --color-37: #c59782;
    --color-38: #e2d7b5;
    --color-39: #4f1507;
    --color-40: #823c3d;
    --color-41: #da655e;
    --color-42: #e18289;
    --color-43: #f5b784;
    --color-44: #ffe9c5;
    --color-45: #ff82ce;
    --color-46: #cf3c71;
    --color-47: #871646;
    --color-48: #a328b3;
    --color-49: #cc69e4;
    --color-50: #d59cfc;
    --color-51: #fec9ed;
    --color-52: #e2c9ff;
    --color-53: #a675fe;
    --color-54: #6a31ca;
    --color-55: #5a1991;
    --color-56: #211640;
    --color-57: #3d34a5;
    --color-58: #6264dc;
    --color-59: #9ba0ef;
    --color-60: #98dcff;
    --color-61: #5ba8ff;
    --color-62: #0a89ff;
    --color-63: #024aca;
    --color-64: #00177d;
}