* {
    --color-1: #2497fc;
    --color-2: #283d85;
    --color-3: #271f36;
    --color-4: #592b66;
    --color-5: #a60d0d;
    --color-6: #ff5a00;
    --color-7: #fcb500;
    --color-8: #ede547;
    --color-9: #85d451;
    --color-10: #029925;
    --color-11: #00401c;
    --color-12: #000000;
    --color-13: #475370;
    --color-14: #798b94;
    --color-15: #99cfc5;
    --color-16: #ebffcc;
}


.theme-sk16 body {

}

.theme-sk16 header {
}

.theme-sk16 button {
}