@import './fonts/OpenDyslexic.css';
@import './colors.css';

* {
    padding: 0;
    margin: 0;
    font-family: 'OpenDyslexic', Helvetica, Arial, sans-serif;
}

header {
    position: fixed;
    top:0;
    right: 0;
    left: 0;
    bottom: calc(100% - 3em);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-header-background);
    color: var(--color-header-text);
    box-shadow: 3px 3px var(--color-header-shadow);
    z-index: 100;
    padding: 0 1em;
}

header * {
    display: inline-block;
    font-size: 1em;
}

footer {
    background-color: var(--color-header-background);
    box-shadow: -3px -3px var(--color-footer-shadow);
    color: var(--color-footer-text);
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    top: calc(100% - 3em);
    display: flex;
    justify-content: space-around;
    align-items: center;
}


body {
    background-color: var(--color-body-background);
    color: var(--color-body-text);
}

body * {
    color: var(--color-body-text);
}

main {
    /* position: fixed;
    top: 3em;
    bottom: 3em;
    left: 0;
    right: 0; */
    padding-top: 3em;
    padding-bottom: 3em;
    overflow-y: scroll;
    margin: 0 auto;
    max-width: 600px;
}

@media only screen and (min-width: 800px) {
    main {
        max-width: 1200px;
    }
}

button {
    background-color: var(--color-button-background);
    color: var(--color-button-text);
    border-color: var(--color-button-border);
}

input {
    font-family: 'OpenDyslexic', Helvetica, Arial, sans-serif;
}


.buttonbar {
    display: flex;
}

.buttonbar li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.buttonbar li button {
    margin: 0;
    padding: 0 10px;
}

.buttonbar li button.active {
    background-color: var(--color-button-active-background);
    color: var(--color-button-active-text);
}

.buttonbar :first-child button {
    border-radius: 1em 0em 0em 1em;
}

.buttonbar :last-child button {
    border-radius: 0em 1em 1em 0em;
}
.buttonbar :last-child:first-child button {
    border-radius: 1em 1em 1em 1em;
}

#modal-blur {
    z-index: 999;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
}

.modal {
    z-index: 1000;
    display: block;
    border: double 4px;
    padding: 1em;
    position: fixed;
    left: calc(50vw - 150px - 1em - 4px);
    right: calc(50vw - 150px - 1em - 4px);
    top: 30px;
    bottom: 30px;
    overflow-y: scroll;
    box-shadow: 5px 5px black;
}

.modal, #modal-blur {
    transition: opacity 1s, left 1s, right 1s, top 1s, bottom 1s;
}
.modal.visible, #modal-blur.visible {
    opacity: 1;
}

.modal.visible-start,
#modal-blur.visible-start,
.modal.hidden-start,
div#modal-blur.hidden-start {
    opacity: 0;
}

.modal.visible-start,
.modal.hidden-start {
    top: 100vh;
    bottom: -100vh;
}

.modal.hidden, #modal-blur.hidden {
    display: none;
    opacity: 0;
}

.modal #newtask {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
}

.modal #newtask textarea {
    height: 10em;
}

#all-actions-modal {

}

#all-actions-modal ul {
    display: flex;
    flex-flow: column;
    background: blue;
}

#all-actions-modal ul li {
    display: inline-block;
    width: 100%;
}

#all-actions-modal ul li button {
    width: 100%;
}


#itemlist {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

li.taskitem {
    position: relative;
    right: 0;
    top: 0;
    opacity: 1;
    display: flex;
    transition: opacity 1s, top 1s, height 1s;
    width: 100%;
    max-width: 600px;
    max-height: 100vh;
    justify-content: center;
}

li.taskitem.visible {
    animation: taskinsert 1s;
    animation-fill-mode: both;
    /* animation-delay: 0.5s; */
    animation-delay: 0.5s;
}

li.taskitem.hidden {
    animation: taskremove 0.5s;
    animation-fill-mode: both;
}

@media only screen and (min-width: 800px) {
    li.taskitem {
        width: 50%;
        margin: 0;
    }
}

@keyframes taskinsert {
    from {
        top: 100vh;
        opacity: 0;
        visibility: collapse;
        /* position: absolute; */
        order: -1;
        max-height: 0;
    }

    1% {
        /* position: relative; */
    }

    to {
        top: 0vh;
        opacity: 1;
        visibility: visible;
        /* position: relative; */
        max-height: 100%;
    }

}

@keyframes taskremove {
    from {
        top: 0vh;
        opacity: 1;
        visibility: visible;
        /* position: relative; */
        max-height: 100%;

    }

    99%{
        /* position: relative; */
    }

    to {
        top: -100vh;
        opacity: 0;
        visibility: collapse;
        /* position: absolute; */
        order: -1;
        max-height: 0;
    }
}

/* li.taskitem.inserted,  */
/* li.taskitem.visible-start,
li.taskitem.hidden-start {
    display: inline-block;
    opacity: 0;
    max-height: 10vh;
    top: -50vh;
}

li.taskitem.hidden-start {
    z-index: -100;
}

li.taskitem.inserted ul, 
li.taskitem.visible-start ul,
li.taskitem.hidden-start ul {
}

li.taskitem.inserted,
li.taskitem.visible-start {
} */


li.taskitem ul {
    margin-bottom: 1em;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 2em auto 3em;
    border: solid 3px blue;
    border-radius: 15px;
    width: calc(100% - 2em);
    max-height: 100%;
    margin: 0.5em auto;
    /* grid-template-areas:
    "text text text text text text kind kind kind" 
    "text text text text text text act  act  act"
    "text text text text text text act  act  act"
    "date date date date date .    act  act  act"
    ; */
    grid-template-areas: 
    "kind text act"
    "kind due act"
    "kind date date"
    ;
}

li.taskitem ul.actions ul {
    display: block;
}

li.taskitem ul li {
    display: block;
}

li.date {
    grid-area: date;
    text-align: right;
    padding-right: 10px;
    border: green solid 1px;
    border-radius: 0 0 15px 0;
}

li.due {
    grid-area: due;
    padding: 1em;
}
li.due:empty {
    display: none;
}

li.text {
    grid-area: text;
    white-space: pre-line;
    font-size: 0.9em;
    padding: 1em;
}

li.kind {
    grid-area: kind;
    max-height: 100%;
    /*
    width: calc(100% - 1em);
    height: 2.25em;
    padding-top: 0.25em;
    padding-left: 1em;
    border: red solid 2px;
    vertical-align:middle; */
    display: inline-block;
    writing-mode: vertical-lr;
    border: red solid 2px;
    border-radius: 20px;
    border-radius: 15px 0 0 15px;
    background: green;
    /* position: absolute; */
    padding: 0;
    text-align: center;
}

li.actions {
    grid-area: act;
    display: block;
    max-height: 100%;
}

li.actions ul {
    width: auto;
    display: flex;
    flex-direction: column;
    margin: 0;
    border: none;
}

li.actions ul li button {
    display: inline-block;
    width: 100%;
}

li.actions ul :first-child button {
    border-radius: 0 10px 0 0;
}

li.actions ul :last-child button {
    border-radius: 0 0 0 10px ;
}
li.actions ul :last-child:first-child button {
    border-radius: 0 10px 0 10px ;
}
